header {
    background-color: #555;
    color: white;
    padding: 15px;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

#metrics {
    text-align: center;
}
button {
    margin: 10px;
}

.chart {
    height: 40vh;
}